{% extends 'mailing/base.html' %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row justify-content-start">  <!-- Изменено на justify-content-start -->
                <div class="col-md-6">
                    <div class="card shadow-sm mb-4">  <!-- Добавлен отступ между карточками -->
                        <div class="card-body">
                            <p class="card-text"><strong>Описание рассылки: {{ object.description }} </strong></p>
                            <p class="card-text">Сообщение рассылки: {{ object.message }}</p>
                            <p class="card-text">Статус рассылки: {{ object.status }}</p>
                            <p class="card-text">Дата начала рассылки: {{ object.start_time }}</p>
                            <p class="card-text">Дата окончания рассылки: {{ object.actual_end_time }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'mailing:mailing_list' %}"
                                       role="button">Назад</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Дублирование карточки -->
                <div class="col-md-6">
                    <div class="card shadow-sm mb-4">  <!-- Добавлен отступ между карточками -->
                        <div class="card-body">
                            <p class="card-text"><strong>История рассылки</strong></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'mailing:mailing_attempt_list' mailing.pk %}"
                                       role="button">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}